{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-destructuring"
  ],
  "env": {
    "browser": {
      "presets": [
        ["env", {
            "modules": false,
            "targets": {
              "browsers": "> 2% in AU"
            }
         }]
      ],
      "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-es2015-destructuring"
      ]
    },
    "es6": {
      "presets": [
        ["env", {
            "targets": {
              "node": "8"
            }
         }]
	 ],
	 "plugins": [
	   "transform-object-rest-spread",
	   "transform-es2015-destructuring"
	 ]
    }
  }
}

